.streak-card {
  margin-top: 25px;
  padding: 25px;
  border-radius: 20px;
  background: linear-gradient(135deg, #b268f7, #e0c7f7);
  color: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.streak-card:hover {
  transform: translateY(-5px);
}

.streak-number {
  font-size: 42px;
  font-weight: bold;
  margin: 15px 0;
}

.streak-badge {
  font-size: 20px;
  margin-bottom: 10px;
}

.streak-message {
  font-size: 14px;
  opacity: 0.9;
  color:#351355
}
